# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini
node_modules

# cache files
._*
Thumbs.db
.sass-cache

# Files that might appear on external disks
.Spotlight-V100
.Trashes
.vim/.netrwhist

# security
id_rsa
